/*Etree styles*/
.tree{
    font-size:14px;
    margin:0;
    padding:0;
    list-style-type:none;
    color:#000000;
}
.tree li{
    white-space:nowrap;

}
.tree li ul{
    list-style-type:none;
    margin:0;
    padding:0;

}
.tree-node{
    height:23px;
    white-space:nowrap;
    cursor: grab;
    padding-left: 5%;
    padding-bottom: 2%;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.3);
    margin-bottom: 2px;
}

.tree-indent{
    display:inline-block;
    width:16px;
    height:18px;
    vertical-align:middle;
}

.tree-indent:before {
    content: "\f142";
    font-family: FontAwesome;
    position:absolute;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.8);
}
.tree-hit{
    cursor: grabbing;
}

.tree-expanded{
    display:inline-block;
    width:16px;
    height:18px;
    vertical-align:middle;
    position: relative;
}

.tree-expanded:before {
    content: "\f107";
    font-family: FontAwesome;
    position:absolute;

}
/*background:url('images/tree_arrows.gif') no-repeat -18px 0px;*/

.tree-expanded-hover{
    /* background:url('images/tree_arrows.gif') no-repeat -50px 0px;*/
}
.tree-collapsed{
    display:inline-block;
    width:16px;
    height:18px;
    vertical-align:middle;
    /* background:url('images/tree_arrows.gif') no-repeat 0px 0px;*/
}
.tree-collapsed:before {
    content: "\f105";
    font-family: FontAwesome;
    position:absolute;
    font-weight: 900;

}
.tree-collapsed-hover{
    /* background:url('images/tree_arrows.gif') no-repeat -32px 0px;*/
}
/*.tree-folder{
    display:inline-block;
    background:url('images/tree_folder.gif') no-repeat;
    width:16px;
    height:18px;
    vertical-align:middle;
}
.tree-folder-open{
    background:url('images/tree_folder_open.gif') no-repeat;
}
.tree-file{
    display:inline-block;
    background:url('images/tree_file.gif') no-repeat;
    width:16px;
    height:18px;
    vertical-align:middle;
}
.tree-loading{
    background:url('images/tree_loading.gif') no-repeat;
}*/
.tree-title{
    display:inline-block;
    text-decoration:none;
    vertical-align:middle;
    padding:2px 2px 2px 2px;
    white-space:nowrap;

}

.tree-node-hover{
    background: linear-gradient(141deg, #f2f2f2 0%, #dbdbdb 51%, #eaeaea 75%);
}
.tree-node-selected{
    background: linear-gradient(to right, #24c6dc, #514a9d);

}
.tree-checkbox{
    display:inline-block;
    width:16px;
    height:18px;
    vertical-align:middle;
}
.tree-checkbox0{
    background:url('images/tree_checkbox_0.gif') no-repeat;
}
.tree-checkbox1{
    background:url('images/tree_checkbox_1.gif') no-repeat;
}
.tree-checkbox2{
    background:url('images/tree_checkbox_2.gif') no-repeat;
}
.tree-node-proxy{
    font-size:14px;
    padding:2px 2px 2px 2px;
    background:#fafafa;
    border:2px solid #000000;
    z-index:9900000;
    cursor: grabbing;!important;
}
.tree-dnd-yes{
    background:#00ff00;

}
.tree-dnd-yes:before {
    content: "\f064";
    font-family: FontAwesome;
    font-weight: 900;
}
.tree-dnd-no{
    background:red;
}
.tree-dnd-no:before {
    content: "\f05e";
    font-family: FontAwesome;
    font-weight: 900;
}
.tree-node-top{
    border-top:3px dotted red;
}
.tree-node-bottom{
    border-bottom:3px dotted red;
}
.tree-node-append .tree-title{
    border:3px dotted red;
}
.tree-editor{
    border:3px solid white;
    font-size:15px;
    line-height:18px;
    width:auto;
    position:absolute;
    top:2px;
    padding-left: 2%;
    border-radius: 5px;
}

/*Gritter styles*/
.gritter-item p{
    font-size: 14px !important;
}
.gritter-title{
    font-size: 14px !important;
}
